:root {
  --main-color: #FFFFFF;
  --secondary-color: #DCDCDC;
  --text-color: #202846;
  --background-title: #C6C6DC;

  --logo-margin-left: 5%;
  --logo-width: 22%;
  --menu-width: 55%;

  --box-width: 77%;
  --box-height: 16%;
  --margin-left: 12%;

  --img-width: 25%;
  --img-height: 11%;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: var(--secondary-color);
  margin: 0;
}

/* #region common properties */
.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ta-c {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}

.w-1490px {
  width: var(--box-width);
}

/* #endregion */

.logo {
  margin-left: var(--logo-margin-left);
  width: var(--logo-width);
}

.header {
  background-color: #202846;
  display: flex;
  align-items: center;
}

/* #region menu */
.menu {
  width: var(--menu-width);
}

.menu-item {
  color: var(--main-color);
  font-weight: 700;
  cursor: pointer;
}

.menu-item:hover {
  color: var(--secondary-color);
}

/* #endregion */

/* #region common */
.title-box {
  margin-top: 0;
  background-color: var(--background-title);
  margin-bottom: 55px;
}

.title {
  width: fit-content;
  line-height: 140px;
  color: var(--text-color);
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
  margin-left: var(--margin-left);
}

/* #endregion */

/* #region reserve */
.reserve {}

.reserve-title {
  width: var(--box-width);
  margin: auto;
  margin-bottom: 75px;
  color: #0000009C;
  font-size: 28px;
  font-weight: 400;
  line-height: 73px;
  text-align: center;
  background: 99% center no-repeat url(images/svg/triangle.svg), #E8E8E8;
}

.reserve-box {
  margin: auto;
  width: var(--box-width);
  height: 300px;
  background-color: #BDBDC6;
  margin-bottom: 36px;
  cursor: pointer;
  position: relative;
}

.reserve-box-inner {
  padding: 28px 100px;
}

.reserve-box:hover {
  background-color: #AEAEE2;
}

.reserve-box-inner-img {
  width: var(--img-width);
  height: var(--img-height);
}

.reserve-box-inner-star {
  position: absolute;
  top: 17px;
  right: 17px;
}

.reserve-box-inner-btn {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 35px;
  position: absolute;
  bottom: 10px;
  right: -48px;
  background-color: #202846;

  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: white;
  cursor: pointer;
}

.reserve-box-inner-btn:hover {
  background-color: #EF075B;
}

.reserve-box-inner-subbox {
  width: 712px;
  height: 184px;
}

.reserve-box-inner-subbox hr {
  border: 2px solid white;
  margin-top: 0;
}

.reserve-box-inner-subbox h2 {
  color: #353C57;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  margin: 0;
}

.reserve-box-inner-subbox-text {
  text-align: center;
  margin: auto;
  padding: 20px 24px;
  background-color: #D7D7DD;
}

.reserve-box-inner-subbox-text p {
  font-size: 22px;
  font-weight: 400;
  line-height: 28.47px;
  color: #202846;
  margin: 0;
  min-height: 145px;
}


/* #endregion */