:root {
  --bg-color: #DCDCDC;

  --main-text-color: #202846;

  --menu-text-color: #FFFFFF;
  --menu-text-secondary-color: #DCDCDC;

  /* header */
  --header-height: 90px;

  /* title */
  --background-title: #C6C6DC;
  --title-margin-left: 227px;

}

/* #region reset */
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

/* #endregion */

/* #region body */
body {
  line-height: 1;
  font-family: 'PT Sans', sans-serif;
  color: #202846;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
  padding-top: var(--header-height);
  background-color: var(--bg-color);
}

.page__main {
  margin-bottom: 50px;
}

/* #endregion */

/* #region __class */
[class*='__container'] {
  max-width: 1490px;
  margin: 0 auto;
}

[class*='__btn'] {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 35px;
  background-color: #202846;

  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  color: white;
  cursor: pointer;
}

@media (max-width: 1536.98px) {
  [class*='__container'] {
    max-width: 1180px;
  }

  [class*='__btn'] {
    width: 150px;
    height: 50px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  .page {
    padding-top: calc(var(--header-height)/1.5);
  }
}

@media (max-width: 990.98px) {
  [class*='__container'] {
    max-width: 750px;
  }

  .page {
    padding-top: var(--header-height);
  }
}

@media (max-width: 767.98px) {
  [class*='__container'] {
    max-width: none;
    padding: 0px 15px;
  }
}

/* #endregion */

/* #region common properties */
.d-flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.ai-c {
  align-items: center;
}

.ta-c {
  text-align: center;
}

.m-auto {
  margin: auto;
}

.w-100 {
  width: 100%;
}

/* #endregion */

/* #region header */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__content {
  min-height: var(--header-height);
  padding: 0 63px 0 138px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background-color: var(--main-text-color);
}


@media (max-width: 1536.98px) {
  .header__content {
    min-height: 10px;
  }
}

@media (max-width: 767.98px) {
  .header__content {
    min-height: 0;
    flex-direction: column;
  }
}

.header__logo {
  width: 180px;
  border-radius: 167px;
}

/* .header__menu {} */

/* #region menu */
/* .menu {} */

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 54px;
  row-gap: 15px;
}

/* .menu__item {} */

.menu__link {
  font-size: 24px;
  font-weight: 700;
  color: var(--menu-text-color);
  text-align: center;
}

.menu__link:hover {
  color: var(--menu-text-secondary-color);
}

@media(max-width: 1536.98px) {
  .header__logo-img {
    width: 135px;
  }

  .menu__link {
    font-size: 18px;
  }

  .menu__item__lang-img {
    width: 60px;
  }
}

@media (max-width: 767.98px) {
  .menu__list {
    justify-content: center;
  }

  .menu__link {
    font-size: 16px;
  }

  .menu__item__lang-img {
    width: 25px;
  }
}

/* #endregion */
/* #endregion */

/* #region main */
.title-box {
  margin-top: 0;
  background-color: var(--background-title);
  margin-bottom: 55px;
}

.title {
  width: fit-content;
  line-height: 140px;
  color: var(--text-color);
  font-size: 48px;
  font-weight: 400;
  font-style: italic;
  margin: 0 auto 56px var(--title-margin-left);
}

@media(max-width: 1899.98px) {
  .title {
    margin: 0 auto 56px var(--title-margin-left);
  }
}

@media(max-width: 1536.98px) {
  .title {
    font-size: 30px;
    line-height: 100px;
    margin-left: calc(var(--title-margin-left)/1.2);
    margin-bottom: 36px;
  }
}

/* #endregion */

/* #region reserve */
.reserve__container__title {
  margin: auto;
  margin-bottom: 75px;
  color: #0000009C;
  font-size: 28px;
  font-weight: 400;
  line-height: 73px;
  text-align: center;
  background: 99% center no-repeat url(images/svg/triangle.svg), #E8E8E8;
}

@media(max-width: 1536.98px) {
  .reserve__container__title {
    margin-bottom: 55px;
    font-size: 22px;
    font-weight: 400;
    line-height: 53px;
  }
}

.reserve__container__box {
  height: 250px;
  padding: 28px 100px;
  display: flex;
  justify-content: space-between;
  background-color: #BDBDC6;
  margin-bottom: 36px;
  cursor: pointer;
  position: relative;
}

.reserve__container__box:hover {
  transition: all 0.25s;
  background-color: #AEAEE2;
  box-shadow: 5px 5px 30px 0px #0000FF40;
}

.reserve__container__box:hover button {
  background-color: #EF075B;
}


.reserve__container__box:hover:hover .reserve__container__box__star {
  background-image: url(images/svg/star-yellow.svg);
}

.reserve__container__box__img {
  width: 485px;
  height: 244px;
}

.reserve__container__box__subbox {
  width: 712px;
  height: 184px;
}

.reserve__container__box__subbox hr {
  border: 2px solid white;
  margin-top: 0;
}

.reserve__container__box__subbox h2 {
  color: #353C57;
  font-style: italic;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  margin: 0;
}

.reserve__container__box__subbox__text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 20px 24px;
  background-color: #D7D7DD;
  min-height: 145px;
}

.reserve__container__box__subbox__text p {
  font-size: 22px;
  font-weight: 400;
  line-height: 28.47px;
  color: #202846;
  margin: 0;
}

.reserve__container__box__star {
  padding: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 17px;
  right: 17px;
  background: no-repeat url(images/svg/star.svg);
}

.reserve__container__box__btn {
  position: absolute;
  bottom: 10px;
  right: -48px;
}

@media(max-width: 1536.98px) {
  .reserve__container__box {
    height: 200px;
    padding: 20px 30px;
  }

  .reserve__container__box__img {
    width: 400px;
    height: 200px;
  }

  .reserve__container__box__subbox {
    width: 562px;
    height: 160px;
  }

  .reserve__container__box__subbox h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin: 0;
  }

  .reserve__container__box__subbox hr {
    border-width: 1px;
  }

  .reserve__container__box__subbox__text {
    padding: 12px 16px;
    min-height: 125px;
  }

  .reserve__container__box__subbox__text p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
}

/* #endregion */

/* #region profile */
.profile {
  text-align: center;
}

.profile__box {
  margin: 0 auto;
  width: 1318px;
  height: 498px;
  background-color: #BDBDC6;

  display: flex;
  justify-content: center;
  column-gap: 90px;
  align-items: center;
  margin-bottom: 40px;
}

.profile__box__actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.profile__box__actions__img {
  width: 196px;
  height: 184px;
  border-radius: 208px;
}

.profile__box__actions__btn {
  width: 250px;
  height: 50px;
  background: #484A54;
}

.profile button:hover {
  background-color: #69749B;
}

.profile__box__info {
  font-size: 36px;
  font-style: italic;
  line-height: 37px;
  text-align: left;
}

.profile__box__info__field {
  font-size: 36px;
  font-style: italic;
  line-height: 37px;
  text-align: left;
  color: var(--main-text-color);
  margin: 0;
  margin-bottom: 4px;
  background: none;
  border: none;
}

.profile__box__info__field__title {
  font-weight: 700;
}

.profile__box__info hr {
  border: 2px solid white;
  margin-top: 0;
}

.profile__btn {
  width: 212px;
  height: 60px;
}


@media(max-width: 1536.98px) {
  .profile__box {
    width: 1000px;
    height: 330px;
    margin-bottom: 30px;
  }

  .profile__box__actions {
    gap: 15px;
  }

  .profile__box__actions__img {
    width: 140px;
    height: 150px;
  }

  .profile__box__actions__btn {
    width: 210px;
    height: 40px;
  }

  .profile__box__info {
    font-size: 22px;
    line-height: 27px;
  }

  .profile__box__info__field {
    font-size: 22px;
    line-height: 27px;
  }

  .profile__box__info hr {
    border: 1px solid white;
  }

  .profile__btn {
    width: 160px;
    height: 48px;
  }
}

/* #endregion */

/* #region contacts */

.contacts__container2 {
  margin: 0 auto;
  width: 1318px;
}

.contacts__box {
  display: flex;
  justify-content: space-between;

  font-size: 32px;
  font-weight: 400;
  line-height: 41px;
  color: black;
}

.contacts__box__item {
  width: fit-content;
  margin-bottom: 60px;
}

.contacts__box__item__title {
  line-height: 31px;
  margin-left: 10px;
}

.contacts__box__item__content {
  padding-top: 5px;
  border-top: 3px solid black;
}

.contacts__box__item__map {
  width: 500px;
  height: 290px;
}

/* #region contacts adaptive */

@media(max-width: 1536.98px) {
  .contacts__container2 {
    width: 700px;
  }

  .contacts__box {
    font-size: 18px;
    line-height: 27px;
  }

  .contacts__box__item {
    margin-bottom: 40px;
  }

  .contacts__box__item__title {
    line-height: 21px;
  }

  .contacts__box__item__content {
    border-top: 2px solid black;
  }

  .contacts__box__item__map {
    width: 420px;
    height: 230px;
  }
}

/* #endregion */

/* #endregion */

/* #regio scroll to top */
.return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.return-to-top:hover {
  background: rgba(0, 0, 0, 0.9);
}

.return-to-top:hover i {
  color: #fff;
  top: 5px;
}

i {
  color: #444;
}

/* #endregion */

/* #region footer */
.footer {
  background-color: var(--main-text-color);
}

.footer__content {
  color: white;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  line-height: 47px;
  margin-left: 120px;
}

@media(max-width: 1536.98px) {
  .footer__content {
    font-size: 26px;
    line-height: 47px;
    margin-left: 100px;
  }
}

/* #endregion */